{% extends 'base.html' %}
{% block title %}Home page{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% block body %}



<div class="container my-3">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Welcome To Devblogs</h1>
          <p class="col-md-8 fs-4">get to know our most awesome blogs. Click down below to check out!</p>
          <a href="/blog" class="btn btn-primary btn-lg" role="button">Blog</a>
        </div>
      </div>
</div>
<div class="container">
    <h2 class="my-1">Popular Posts:</h2>
    <div class="row my-4">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Post 1</h5>
              <p class="card-text">this is the description fo the post</p>
              <a href="/blog" class="btn btn-primary">read more</a>
            </div>
          </div>
        </div>
    <div class="row my-4">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Post 1</h5>
              <p class="card-text">this is the description fo the post</p>
              <a href="/blog" class="btn btn-primary">read more</a>
            </div>
          </div>
        </div>
    <div class="row my-4">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Post 1</h5>
              <p class="card-text">this is the description fo the post</p>
              <a href="/blog" class="btn btn-primary">read more</a>
            </div>
          </div>
        </div>
    <div class="row my-4">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Post 1</h5>
              <p class="card-text">this is the description fo the post</p>
              <a href="/blog" class="btn btn-primary">read more</a>
            </div>
          </div>
        </div>
</div>
{% endblock body %}